langchain
python-dotenv
ipykernel
langchain_community
pypdf
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-openai
streamlit
nltk

langchain-ollama
streamlit>=1.31.0
python-dotenv>=1.0.0

langchain>=0.2.0
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
langchain-huggingface>=0.0.3

sentence-transformers>=2.6.0
faiss-cpu>=1.7.4
huggingface-hub>=0.22.0
